h1 {
    font-size: 3em;
    text-shadow: 2px 2px black;
}

h2 {
    font-size: 2em;
    text-shadow: 2px 2px black;
}

h3 {
    font-size: 1.3em;
    text-shadow: 1px 1px black;
}


.Sommaire {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-right: 140px;
    margin-bottom: 140px;
}

.MiniLogos {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
    position: relative;
    left: 130px;
    top: 7px;
}

.MiniL {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.NomsEntreprises{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 3em;
}

.Periodes{
    display: flex;
    flex-direction: column;
    font-size: 40px;
    margin-top: 40px;
}

#labo {
    scroll-margin-top: 140px
}

.AlignementTitres {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MegaLogoX {
    height: 50px;
    width: 150px;
    transition: background-color 150ms;
    border-radius: 10px;
    padding: 10px;
}












